@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", arial;

  }

  html {
    scroll-behavior: smooth;
  }

  .container {
    width: 90%; /* Para ocupar até 90% da largura disponível */
    margin: 0 auto;
    padding: 0 5%;
}

/* ==== USADO NO HEADER ==== */

.header {
    position: absolute;
    width: 100%;
    height: 13vh;
    background-color: rgba(255, 255, 255, 0.032);
    z-index: 10;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.header div {
    display: flex;
    gap: 32px;

}

.header a {
    color: white;
    text-decoration: none;
}

.header img {
    width: 144px;
}

.fixo {
    position: fixed;
    background-color: #3B4F3B; /* Nova cor */
    color: white;
    transition: 0.3s;
}

.fixo-outras {
    position: sticky;
    background-color: #3B4F3B; /* Nova cor */
    color: white;
    transition: 0.3s;
}

/* ==== USADO NO INDEX ==== */

.main-section {
    background-image: url(main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-section-texto {
    width: 400px;
    font-size: 25px;
    font-weight: bold;
}

.main-section-button button {
    background-color: transparent;
    color: white;
    padding: 25px;
    width: 160px;
    border: 1px solid white;
    border-radius: 5px;
}
.main-section-button button:hover {
    background-color: #ffffff2c;
    padding: 30px;
    width: 176px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.hero-section {
    background-color: #1F3B2D;
    display: flex;
    gap: 80px;
    padding-top: 96px;
    padding-bottom: 96px;
    color: white;
    width: 100%;
}

.hero-section-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.hero-section-conteudo-texto {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-section-conteudo-botao {
    height: 32px;
}

.hero-section-conteudo-botao button {
    background-color: #FF7043;
    color: white;
    padding: 25px;
    border-radius: 15px;
}

.hero-section-conteudo-botao button:hover {
    background-color: #fc5a28;
    padding: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.info-section {
    margin: 128px auto;
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.info-section-texto {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 32px;
}

.linha {    
    content: "";
    border: 2px solid #1D5100;
    border-radius: 5px;
    display: flex;
}

.how-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.how-section img {
    margin-top: 48px;
    width: 100%;
}

.function-section {
    margin: 128px  0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 32px;
    background-color: #F5F5F5;
    width: 100%;
}
.function-section h2 {
    margin: 64px;
    color: #1D5100;
}

.function-section-main { 
    display: flex;
    gap: 32px;
}

.function-section-cards {
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    padding: 0px 32px;
    width: 50%;
    height: 240px;
    background-color: #9E0209;
    color: white;
    gap: 32px;
    text-align: left;
}

.function-section-cards:hover {
    width: 51%;
    height: 248px;
    transition: 0.5s;
}

.sobre-section {
    background-color: #172217;
    display: flex;
    gap: 80px;
    padding-top: 96px;
    padding-bottom: 96px;
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.sobre-section img {
    width: 300px;
}

.sobre-section-conteudo {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}
/* ==== FIM DO CSS USADO NO INDEX ==== */
/* ==== USADO NO FOOTer ==== */


.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 32px 0px;
    width: 100%;
}

.footer-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-logos-rs svg {
    color: white;
}

.footer-texto  {
    width: 432px;
}

.footer-texto ul {
    list-style: none;
}

/* Login */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    background-color: #172217;
    width: 100%;
    height: 100vh;
    min-height: fit-content;
}   
.login img {
    width: 40%;
}

.login-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #fff;
    height: max-content;
    width: 40%;
    border-radius: 20px;
    min-height: 70%;
}
.login-conteudo-1 {
    width: 40%;
    padding: 40px;
    align-items: start;
}

.login-conteudo h2 {
    color: #3B4F3B;
}

.login-conteudo-insert {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-conteudo-inputs p {
    color: #3B4F3B;
}

.login-conteudo-inputs {
    width: 80%;
}

.login-conteudo-inputs input{
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
}

.login-conteudo button{
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid rgb(130, 172, 75);
    background-color: #A3D95D;
    color: #3B4F3B;
}

.login-conteudo button:hover{
    cursor: pointer;
    border: 1px solid #82ac4b;
    background-color: #82ac4b;
    color: #3B4F3B;
}

.login-conteudo p span {
    font-size: 10px;
}
.login-conteudo a {
    color: #3B4F3B;
}

.div-sumida {
    display: none;
}
.validado {
    width: 80%;
    background-color: #82ac4b;
    color: #1F3B2D;
    padding: 10px;
    border: 1.5px solid #1D5100;
    border-radius: 10px;
    text-align: center;
}
.erro {
    width: 80%;
    background-color: rgba(255, 0, 0, 0.372);
    color: darkred;
    padding: 10px;
    border: 1.5px solid darkred;
    border-radius: 10px;
    text-align: center;
}

.calculadora {
    background-image: url(assets/calc-fundo.png);
    width: 100%;
    height: 130vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora-conteudo {
    margin-top: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: min-content;
    border-radius: 10px;
    padding: 80px 0px;
}
.calculadora-conteudo-inserts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 16px;
}
.calculadora-conteudo-inserts h2 {
    color: #3B4F3B;
}
.calculadora-conteudo-inserts input {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #3B4F3B;
    color: #3B4F3B;
    text-align: center;
    height: 25px;
}

.calculadora-conteudo-inserts button {
    width: 50%;
    border-radius: 10px;
    background-color: #3B4F3B;
    height: 30px;
    color: white;
    border: none;
}

.p-insert {
    color: #3B4F3B;
}

.calculadora-conteudo-how {
    display: flex;
    flex-direction: column;
    background-color: #3B4F3B;
    width: 40%;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.6;
    gap: 16px;
    transition: 0.5s
}

.calculadora-conteudo-how span {
    font-weight: bold;
}
.flex-dash {
    display: flex;
    width: 100%;
    margin: 0;
}
.header-dash {
    width: max-content;
    height: 100;
    background-color: #3B4F3B;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    transition: 0.3s;
    flex-direction: column;
    padding: 0 3%;
}


.header-dash div {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.header-dash a {
    color: white;
    text-decoration: none;
}

.header-dash img {
    width: 144px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 16px 0;
}

.div-canvas canvas {
    width: 100% !important;
    height: 300px !important;
}

.bem-vindo {
    font-weight: bold;
}

.div-grafico-canvas2 {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}
.div-grafico-canvas2-lum {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.div-grafico-canvas2-lum canvas {
    height: 270px !important;
}

.div-kpi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.div-kpi1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-kpi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f0d2;
    height: 125px;
    width: 125px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

.title-kpi {
    font-size: 12px !important;
    line-height: 1.2;
    color: #3B4F3B !important;
    font-weight: normal !important;
}

.card-kpi p {
    font-size: 20px;
    font-weight: bolder;
    color: #77ae2f;
}
